@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Italianno&family=Kanit:ital,wght@1,200&family=Montserrat:ital,wght@1,200&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Italianno&family=Kanit:ital,wght@1,200&family=Montserrat:ital,wght@1,200&family=Oswald:wght@300&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Italianno&family=Kanit:ital,wght@1,200&family=Montserrat:ital,wght@1,200&family=Oswald:wght@300&family=PT+Serif:ital@1&family=Playfair+Display&family=Poppins:ital,wght@0,500;0,700;1,200&family=Zen+Kaku+Gothic+Antique&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --color-dark:#000;
    --color-light: #fff;
    --color-gold:#95c6e4;
}
body {
    font-weight: 100;
    letter-spacing: .05rem;
    background:  linear-gradient(rgba(39, 41, 44, 0.2), rgba(5, 7, 12, 0.2));
    font-family: 'Oswald', sans-serif;
}
.bg-gray{
    background: skyblue;
    height: 70px;
}
.texto{
    list-style: none;
}
.ul1{
    font-family: 'Titillium web';
    text-transform: uppercase;
    text-align: center;
}
.ul1 *{
    box-sizing: border-box;
    transition: all .35s ease;
}
.ul1, .nav-link:hover{
    color: #fff;
}
.text{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(228, 228, 228);
    font-size: 1rem;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    padding: 15px 0;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.text::after{
    content: "";
    display: block;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.text:hover {
    color: #fff;
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.text2{
    background-color: lightblue;
    padding: 10px 10px;
    line-height: 50px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.2);
    transition: .1s;
}
.text2:hover{
    filter: blur(3px);
    transform: translateY(-9px);
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.4);
    filter: none;
    transition: 1s ease;
    
}
.logo{
    font-weight: bold;
    font-size: 40px;
    font-family: 'Italianno', cursive;
    color: rgb(231, 238, 245);
    text-decoration: none;
}
.logo1{
    width:30px;
    margin-bottom: 25px;
}
.bg--light{
    background-color: lightgray;
}
nav{
    background-color: #95c6e4;
}
#titulo1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: steelblue;
    text-shadow: 1px 1px 2px #000;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.bg--light{
    background-color: skyblue;
}
.lead-xl {
    font-size: 1.65rem;
}
.sideways{
    writing-mode: vertical-lr;
    display: block;
    margin: 5rem 0;
    font-size: 1.2rem;
    transform: rotate(-90deg);
}
.btn-primary{
    background-color: rgb(50, 151, 190);
    border-radius: 10px;
    border: 2px inset;
    box-shadow: 3px #000;
    font-size: 1.25rem;
    padding: 0.7rem;
}
.navbar{
    min-height: 4rem;
}
.border-right{
    border-right: 1.5px solid gray !important;
}
.our-team{
    text-align: center;
    position: relative;
}
.our-team .content{
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 45%;
    left: 0;
    top: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    opacity: 0;
}
.our-team:hover .content{
    opacity: 1;
    transform: perspective(400px);
}
.our-team .like{
    margin: 0;
    padding: 0;
    list-style: none;
}
.our-team .like li a{
    font-size: 150px;
    height: 200px;
    width: 200px;
    bottom: 120px;
    line-height: 200px;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
    position: relative;
}
.img-fluid{
    height: 600px;
    width: 100%;
    background-position: center;
    background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.30));
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgb(162, 208, 228);
    animation: animate 10s linear infinite;
    bottom: -150px;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
.ul2 {
    display: flex;
    position: absolute;
    left: 50%;
    top: 1450px;
    transform: translate(-50%, -50%);
}

.ul2 .li2 {
    list-style: none;
}

.ul2 .li2 .a2 {
    width: 70px;
    height: 70px;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(75, 157, 235);
    z-index: 1;
}

.ul2 .li2 .a2 .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.ul2 .li2 .a2:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.ul2 .li2 .a2:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.ul2 .li2 .a2:hover:before {
    top: 0;
}

.ul2 .li2:nth-child(1) a:before{
    background: #3b5999;
}
.ul2 .li2:nth-child(2) a:before{
    background: #55acee;
}

.ul2 .li2:nth-child(3) a:before {
    background: #0077b5;
}
#container0{
    display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px
}
.learn-more{
    width: 12rem;
    height: auto;
}
.circle{
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    background: #282936;
    border-radius: 1.65rem;
}
.icon1{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.arrow{
    left: 0.050rem;
    width: 1.120rem;
    height: 0.120rem;
    background: none;
}
.learn-more .arrow::before{
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.0625rem;
    height: 0.065rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
.button-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.ul2 .li2:nth-child(4) a:before {
    background: #dd4b39;
}
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
.learn-more {
    width: 12rem;
    height: auto;
    }
    .circle {
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #3090e9;
        border-radius: 1.625rem;
        }

        .icon1:hover {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        }
        .arrow {
            left: 0.625rem;
            width: 1.125rem;
            height: 0.125rem;
            background: none;
        }
        .arrow::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
            }
            .circle,.arrow, .icon1,.button-text:hover{
                transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
            }
        .button-text{
        position: absolute;
        font-family: 'Mukta',sans-serif;
        font-size: 1rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: #282936;
        }
        .circle:hover{
            width: 100%;
        }
        .arrow:hover {
        background: #fff;
        transform: translate(1rem, 0);
        }
        .button-text{
            color: #fff;
    }
    .jump{
        font-size: 60px;
        font-family: fantasy;
        color: #95c6e4;
        font-weight: 300;
        animation: saltar 3s infinite;
        animation-timing-function: ease-in-out;
        display: inline-block;
        transform: translateY(0);
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .jump:nth-child(1){
        animation-delay: 0.1s;
    }
    .jump:nth-child(2){
        animation-delay: 0.2s;
    }
    .jump:nth-child(3){
        animation-delay: 0.3s;
    }
    .jump:nth-child(4){
        animation-delay: 0.4s;
    }
    .jump:nth-child(5){
        animation-delay: 0.5s;
    }
    .jump:nth-child(6){
        animation-delay: 0.6s;
    }
    .jump:nth-child(7){
        animation-delay: 0.7s;
    }
    .jump:nth-child(8){
        animation-delay: 0.1s;
    }
    .jump:nth-child(9){
        animation-delay: 0.2s;
    }
    .jump:nth-child(10){
        animation-delay: 0.3s;
    }
    .jump:nth-child(11){
        animation-delay: 0.4s;
    }
    .jump:nth-child(12){
        animation-delay: 0.5s;
    }
    @keyframes saltar{
        0%{
            transform: translateY(5);
        }
        10%{
            transform: translateY(-10px);
        }
    }
    .jumbotron{
        background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.30)), url(img/imagen22.png);
        width: 100%;
        background-repeat: no-repeat;
        height: 550px;
        background-size: contain;
        background-position: center;
        text-shadow: 0 0 10px #333;
    }
    .jumbotron1{
        background: url(img/Airplane-window.jpg);
        width: 100%;
        background-repeat: no-repeat;
        height: 650px;
        background-position: center;
        background-size: cover;
    }
    .jumbotron2{
        background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.30)), url(img/meeting-1019875_960_720.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 700px;
    }
    .jumbotron3{
        background-image: url(img/imageen.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 700px;
    }
    .p9{
        font-family: 'Times New Roman', Times, serif;
        margin-left: 950px;
      }
      .i7{
        text-align: right;
      }
      .F{
        width: 30%;
        height: 500px;
        display: flex;
        font-family:'Poppins', sans-serif;
        background:rgb(0, 0, 0, 0.3);
        border-radius: 10px;
        justify-content: center;
        margin-left: 500px;
        position: absolute;
        box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
        transition: height 2s, width 0.5s;
      }
      .f1{
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        color: #2196f3;
      }
      .grupo{
        position: relative;
        font-family:'Poppins', sans-serif;
        margin: 40px;
      }
      input{
        font-size: 18px;
        padding: 5px 5px 5x 2px;
        border: none;
        background: none;
        font-family:'Poppins', sans-serif;
        border-bottom: outset 1px lightblue;
        display: block;
      }
      input:focus{
        outline: none;
        color: lightskyblue;
      }
      input:focus~label, 
      input:valid~label{
        position: absolute;
        top:-14px;
        color: #2196f3;
        font-size: 12px;
        font-family: initial;
      }
      label{
        position: absolute;
        color: rgb(0, 0, 0);
        font-weight: 300;
        top: 5px;
        left: 5px;
        transition: 0.5s ease all;
        pointer-events: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
      input:focus~.barra::before{
        width: 100%;
      }
      .barra{
        position: relative;
        display: block;
        width: 100%;
      }
      .barra::before{
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0%;
        position: absolute;
        transition: 0.3s ease all;
        background: lightblue;
      }
      .b5{
        border: none;
        font-size: 17px;
        border-radius: 4px;
        width: 100px;
        color: #ddd;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 40px;
        font-weight: bold;
        background: #2c3e50;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
      }
    .comentarios{
        width: 200px;
        height: auto;
        margin-left: 980px;
      }
      .comentarios .comentario{
        width: 100%;
      }
      .comentarios .comentario p{
        margin: 10px 0 10px 0;
      }
      .burbuja{
        background-color: rgb(241, 246, 248);
        padding: 10px;
        position: relative;
        color: #222;
        border-radius: 20px;
        bottom: 500px;
      }
      .burbuja::after{
        content: "";
        display: block;
        position: absolute;
    
        top: 15px;
        margin-left: -24px;
    
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    
        border-right: 15px solid rgb(241, 246, 248);
      }
      .p10{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bold;
        color: rgb(16, 85, 155);
        justify-content: center;
      }
      .parrafo4{
        vertical-align: middle;
            width: 300px;
            font-family: initial;
            font-weight: 700;
            font-style: italic;
            text-align: center;
            margin: 0 500px  ;
            font-size: 20px;
            color: rgb(210, 236, 235);
      }
      .cajas{
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
      }
      .bloque{
        height: 250px;
        width: 200px;
        border-radius: 20px;
        display: inline-block;
        margin-left: 200px;
        background :rgb(0, 0, 0,0.3);
        animation-name: deslizar;
        animation-duration: 5s;
        box-shadow: 5px #fff;
      }
      .p1{
          margin-top: 40px;
          margin-left: 20px;
          color: rgb(224, 215, 215);
          border: 2px solid var(--color-gold);
          cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
      }
      .titulo4{
      font-size: 2rem;
  text-align: center;
  color: rgb(118, 193, 240);
  text-shadow: 2px 2px 3px rgb(15, 44, 73);
    }
    .p4{ 
        margin: 20px;
        border-radius: 2rem ;
        margin-bottom: 750px;
        position: absolute;
        display: grid;
        background-color: paleturquoise;
        border: 3px inset;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
      }
      .caja{
        margin: 20rem 40rem;
        width: 400px;
        border: 1px solid #ddd;
        padding:0;
        background: rgb(187, 221, 238);
        margin-top: auto;
        position: absolute;
        box-shadow: 5px 5px 5px 5px rgba(0, 0 ,0, 0.2);
      }
      .day{
        margin: 0.1rem ;
        padding: 0.7rem;
        box-sizing: border-box;
        font-family: sans-serif;
        list-style: none;
        color: #444;
      }
      .day-name{
        list-style: none;
        background-color: #62a6d1;
        font-size: 1.04rem;
        margin-right: 0;
        margin-left: 0;
      }
      .first-day{
        grid-column-start: 2;
      }
      h2{
        text-align: center;
        font-family: sans-serif;
        color: cadetblue;
        margin: 0.8rem 0;
      }
      .calendar{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 1px;
      }
      .cuadradototal{
        margin: 500px;
        position: absolute;
        display: grid;
        padding: 0 60px;
        left: 200px;
        top: 70px;
      }
      .cuadrado1{
        width: 200px;
        height: 30px;
        background: rgb(61, 171, 190);
        text-align: center;
        border: 2px initial #66d2f3;
        box-shadow: 4px 2px 2px 2px lightgray;
      }
      .cuadrado2{
        width: 200px;
        height: 70px;
        background:rgb(255, 255, 255);
        border: 2px initial #66d2f3;
        box-shadow: 4px 2px 2px 2px lightgray;
      }
      .cuadrado3{
        width: 200px;
        height: 25px;
        background:  #b0e0f3;
        text-align: center;
        border: 2px initial  #66d2f3;
        box-shadow: 4px 2px 2px 2px lightgray;
      }
      .cuadrado4{
        width: 200px;
        height: 25px;
        background:  #aee8ff;
        text-align: center;
        border: 2px initial  #66d2f3;
        box-shadow: 4px 2px 2px 2px lightgray;
      }
      .cuadrado5{
        width: 200px;
        height: 25px;
        background:  #91d0e9;
        text-align: center;
        border: 2px initial  #66d2f3;
        box-shadow: 4px 2px 2px 2px lightgray;
      }
      .coment{
        background :rgb(0, 0, 0,0.3);
        position: absolute;
        width: 125px;
        height: 125px;
        display: grid;
        margin: 150px;
        right: 100px;
        padding: 0 20px;
        border-radius: 20px;
        top: 260px;
      }
      .pin{
        margin-bottom: 0.5px;
        margin-left: 20px;
      }
      .p7{
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 500;
        border-radius: 500px;
      }
      .p6{
        font-family: 'Kanit', sans-serif;
        font-weight: 600;
      }
      .ico{
        text-align: center;
        justify-content: center;
        margin-top: 40px;
        margin-left: 40px;
        height: 90px;
      }
      .A{
        text-align: center;
      }
      .B{
          text-align: center;
          font-size: 0.9rem;
      }
      .C{
        text-align:center ;
      }
      .D{
          text-align: center;
      }
      .E{
        text-align: center;
      }
      .F2{
        text-align: center;
      }
      .bloque2{
        height: 250px;
        width: 200px;
        background :rgb(0, 0, 0,0.3);
        display: inline-block;
        border-radius: 20px;
        margin-left: 200px;
        margin-top: 10px;
        animation-name: deslizar;
        animation-duration: 5s;
      }
      .bloque3{
        height: 250px;
        width: 200px;
        background :rgb(0, 0, 0,0.3);
        border-radius: 20px;
        display: inline-block;
        margin-left: 200px;
        animation-name: deslizar;
        animation-duration: 5s;
      }
      .bloque4{
        height: 250px;
        width: 200px;
        background :rgb(0, 0, 0,0.3);
        border-radius:20px;
        display: inline-block;
        margin-left: 200px;
        animation-name: deslizar;
        animation-duration: 5s;
      }
      .bloque5{
        height: 250px;
        width: 200px;
        background :rgb(0, 0, 0,0.3);
        border-radius:20px;
        display: inline-block;
        margin-left: 200px;
        animation-name: deslizar;
        animation-duration: 5s;
      }
      .bloque6{
        height: 250px;
        width: 200px;
        background :rgb(0, 0, 0,0.3);
        border-radius:20px;
        display: inline-block;
        margin-left: 200px;
        animation-name: deslizar;
        animation-duration: 5s;
      }
    .bloque6:hover{
          transform: scale(1.05);
          transition: all 0.9s;
      }
    .bloque2:hover{
        transform: scale(1.05);
          transition: all 0.9s;
    }
    .bloque3:hover{
        transform: scale(1.05);
        transition: all 0.9s;
    }
    .bloque4:hover{
        transform: scale(1.05);
          transition: all 0.9s;
    }
    .bloque5:hover{
        transform: scale(1.05);
          transition: all 0.9s;
    }
    .bloque:hover{
        transform: scale(1.05);
          transition: all 0.9s;
    }
    #titulo6{
        color: #1d6d9e;
        font-size: 2rem;
  font-style: italic;
  text-shadow: 1px 1px 3px oldlace;
  text-align: center;
    }
      @keyframes deslizar{
        0%{
          opacity: 0;
        }
        1%{
          transform: translateY(150px);
        }
        10%{
          opacity: 1;
          transform: translateY(150px);
        }
      }
.container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:150px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "footer footer";
    width: 100%;
    height: 100%;
}
.idiomas{
    display:table-cell;
    width:250px; height:250px;
    background-size:cover;
    overflow: hidden;
    position: relative;
}
.idiomas .pics{
    background-color:rgba(19,30,33,0.2);
    position: absolute;
    z-index: 1000;
    top:0;left:0;right:0;bottom:0;
    
}
.idiomas:hover .pics{
    background-color:rgba(236, 238, 243, 0);
}
.idiomas .parrafo1{
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top:60%;left:-80%;
    color:#ffffff;
    font-weight: 300;
    font-size: 13px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}
.idiomas:hover .parrafo1{
    background-color:#1b85e9; left:0px;
    
}
.idiomas .parrafo{
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top:60%;right:-85%;
    margin-top: 25px;
    color:#ffffff;
    font-weight: 300;
    font-size: 11px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}
.idiomas:hover .parrafo{
    background-color:#3978b3;right:0px;
}
.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:150px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "footer footer";
    width: 100%;
    height: 100%;
    background-color: rgb(116, 208, 245);
}
.container1{
    height: 400px;
    background-color: gainsboro;
}
div style{
    background-size: cover;
    text-align: center;
}
.fond{
    position: absolute;
    left: 100px;
    top: 1025px;
}
.fond2{
    position: absolute;
    top: 1025px;
    left: 550px;
}
.fond3{
    position: absolute;
    top: 1025px;
    right: 100px;
}
.footer{ grid-area: footer;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iconn{
    width: 40px;
    left: 0;
    right: 0;
}
.buttonn{
    background-color: #62a6d1;
    width: 14%;
    height: 100px;
    text-align: center;
    border: solid;
    border-radius: 25px;
    font-family: 'Caveat', cursive;
}
.buttonn:hover{
    transform: scale(1.05);
    transition: all .9s;
    cursor: pointer;
}
.p5{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container3{
    background-color: #fff;
}
.subir {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(9, 154, 245);
    border: 3px solid black;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
}

    .subir i{
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0 0 5px #000;
    }
.buton2{
    width: 20px;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
.F7{
    margin: 80px;
    position: absolute;
    height: 550px;
    display: grid;
    width: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btn0{ 
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background-color: lightskyblue;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 2s;
  }
  .btn0::after, .btn0::before{
    content: " ";
    width: 10px;
    height: 10px;
    position:absolute;
    border: 0px solid #fff;
    transition: all 2s;
  }
  .btn0::after{
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }
  .btn0::before{
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
  .btn0:hover{
    border-top-right-radius: 0px;
    border-bottom-left-radius:0px;
    background: rgba(0,0,0,0,.5);
    color: #fff;
  }
  .btn0::before, .btn0::after{
    width: 100%;
    height: 100%;
    border-color: #fff;
  }
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media screen and (max-width:990px){
    .our-team{
        margin-bottom: 30px;
    }
}
@media screen and (max-width:199.98px){
    .sideways{
        margin: 2rem 0;
    }
    .lead-xl{
        font-size: 1rem;
    }
}
@media screen and (max-width:1180px){
    .rec{
        position: absolute;
        width: 25%;
    }
}
@media screen and (max-width:768px){
    .content{
        padding: 5rem 0;
    }
}
